<header>
</header>
<main class="chat">

  <div *ngIf="userConnection.name!='admin'; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="container">
    <div class="row">
      <div class="chat-content card col-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let chatMessage of messageService.chatMessages">
            <strong>{{chatMessage.user}}: </strong>
            <span>{{chatMessage.message}}</span>
          </li>
        </ul>
      </div>
      <div class="menu col">
        <div class="row-cols-1">User</div>
        <div class="row-cols-1 username">
          {{userConnection.name}}
        </div>
        <div class="row-cols-1" style="margin-top: 40px">Users list</div>
        <div class="row-cols-1 chat-list" ip="window">
          <ul class="list-group">
            <li type="button" class="list-group-item"
                *ngFor="let user of messageService.users"
                [ngClass]="{'list-group-item btn' : !(toggleUser==user.name),
                            'list-group-item my-button' : toggleUser==user.name}">
              <span (click)="enterReceiver(user);
                              enableDisableRule(user.name)">{{user.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form class="invisible" (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm"
          [ngClass]="{'visible' : !(toggleUser=='_'),
                      'invisible' : toggleUser=='_'}">
      <div class="chat-send row">
        <div class="col-9">
          <input type="text" class="form-control" name="message" ip="input-message" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btnSend">Send</button>
        </div>
      </div>
    </form>
  </div>
  </ng-template>

  <ng-template #elseBlock>
    <div class="container">
      <div class="row">
        <div class="chat-content card col-8 align-content-center">
          <div class="center username">
            <h1>
              Current users: {{messageService.users.length}}
            </h1>
            <h1>
              Recent messages: {{messageService.chatMessages.length}}
            </h1>
          </div>
        </div>
        <div class="menu col">
          <div class="row-cols-1"></div>
          <div class="row-cols-1 username">
            {{userConnection.name}}
          </div>
          <div class="row-cols-1" style="margin-top: 40px">chat-list</div>
          <div class="row-cols-1 chat-list" ip="window">
            <ul class="list-group">
              <li type="text" class="list-group-item btnn"
                  *ngFor="let user of messageService.users">
              <span>{{user.name}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</main>
